<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkwUGzrOTZQX1sH9tDhLoa9r-EAZzbbAk</string>
	<key>GCM_SENDER_ID</key>
	<string>377353388483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.giphy</string>
	<key>PROJECT_ID</key>
	<string>giphy-b13d9</string>
	<key>STORAGE_BUCKET</key>
	<string>giphy-b13d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377353388483:ios:8848148cdfc9e53882fd76</string>
	<key>DATABASE_URL</key>
	<string>https://giphy-b13d9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>